@import "tailwindcss";

/* ============ tailwind 커스텀 테마 ============ */
@theme {
  --color-primary: #27beff;
  --color-primary-focused: #009bde;
  --color-positive: #279eff;
  --color-negative: #f24147;
  --color-black: #000;
  --color-white: #fff;
  --color-label-title: #adb4ba;
  --color-error: #ff4975;

  --color-sidebar: #2e313e;
  --color-sidebar-sub-menu-selected: #ffffff1a;
  --color-sidebar-sub-menu-hover: #ffffff1a;
  --color-system-000: #000000;
  --color-system-100: #f2f4f5;
  --color-system-200: #e6e8eb;
  --color-system-300: #d1d5d9;
  --color-system-400: #b8bfc4;
  --color-system-500: #808991;
  --color-system-600: #636c73;
  --color-system-700: #262c31;
  --color-system-800: #212528;
  --color-system-900: #171a1f;
  /* Gray Colors */
  --color-gray-100: #f2f4f5;
  --color-gray-200: #e6e8eb;
  --color-gray-300: #d1d5d9;
  --color-gray-400: #b8bfc4;
  --color-gray-500: #778088;
  --color-gray-600: #636c73;
  --color-gray-700: #262c31;

  /* Line Colors */
  --color-line-100: #f8f8f8;
  --color-line-200: #dfe1e4;
  --color-line-300: #adb4ba;

  /* Background Colors */
  --color-bg-100: #fdfdfd;
  --color-bg-200: #2e313e;
  --color-bg-300: #424551;

  /* Yellow Colors */
  --color-yellow-05: #fffcf3;
  --color-yellow-50: #fff9e7;
  --color-yellow-100: #fff6da;
  --color-yellow-200: #ffedb3;
  --color-yellow-300: #ffc40b;
  --color-yellow-400: #e6b00a;
  --color-yellow-500: #cc9d09;
  --color-yellow-600: #bf9308;
  --color-yellow-700: #997607;
  --color-yellow-800: #735805;
  --color-yellow-900: #594504;

  --color-pass: #ff3a4a;
  --color-modal: #363f45;
  --color-positive: #6221ea;
  --color-error: #ff003d;
  --color-success: #4caf50;
  --color-caution: #f9a825;
  /* Shadow */
  --shadow-custom: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  --shadow-card: 4px 8px 36px 0px rgba(0, 0, 0, 0.05);
  --shadow-ul: 0px 2px 5px 0px #00000040;
  /* Font */
  --font-sans: "Pretendard", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* ============ 폰트 설정 ============ */
body {
  @apply font-sans antialiased;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============ 커스텀 클래스 ============ */
.flex-center {
  @apply flex items-center justify-center;
}

/* ============ 인풋 커스텀 ============ */
input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

input[type="date"]:valid {
  color: #262c31;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before {
  display: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 공통 스크롤바 스타일 - 세로*/
/* textarea와 input에만 스크롤바 스타일 적용 */
.custom-scroll::-webkit-scrollbar,
textarea::-webkit-scrollbar,
input::-webkit-scrollbar {
  width: 17px; /* 세로 스크롤바 너비 */
  height: 8px; /* 가로 스크롤바 높이 */
}

.custom-scroll::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
input::-webkit-scrollbar-track {
  background: #ffffff00; /* 스크롤 트랙 색상 */
  border-radius: 9px; /* 트랙의 모서리를 둥글게 */
}

.custom-scroll::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
input::-webkit-scrollbar-thumb {
  background: #b0b8c1; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바의 모서리를 둥글게 */
  background-clip: padding-box;
  border: 7px solid transparent;
}

/* 공통 스크롤바 스타일 - 가로 */
.custom-scroll::-webkit-scrollbar:horizontal,
textarea::-webkit-scrollbar:horizontal,
input::-webkit-scrollbar:horizontal {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track:horizontal,
textarea::-webkit-scrollbar-track:horizontal,
input::-webkit-scrollbar-track:horizontal {
  background: #fff;
  border-radius: 9px;
}

.custom-scroll::-webkit-scrollbar-thumb:horizontal,
textarea::-webkit-scrollbar-thumb:horizontal,
input::-webkit-scrollbar-thumb:horizontal {
  background: #b0b8c1;
  border-radius: 4px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.custom-scroll::-webkit-scrollbar-thumb:horizontal:hover,
textarea::-webkit-scrollbar-thumb:horizontal:hover,
input::-webkit-scrollbar-thumb:horizontal:hover {
  background: #9b9b9b;
}

.custom-scroll::-webkit-scrollbar-thumb:horizontal:active,
textarea::-webkit-scrollbar-thumb:horizontal:active,
input::-webkit-scrollbar-thumb:horizontal:active {
  background: #808991;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* ============ 토스트팝업 설정 ============ */
.toast {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32.5px;
  text-align: center;
  letter-spacing: -0.054px;
  color: #ffffff;
}

.Toastify__toast-container {
  padding: 0px !important;
  width: unset !important;
}

.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Toastify__toast-theme--light {
  background: rgba(0, 0, 17, 0.5) !important;
  border-radius: 999px !important;
  font-family: "Pretendard" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32.5px;
  letter-spacing: -0.3%;
  text-align: center;
  color: #fff !important;
}

.Toastify__toast-body {
  gap: 5px;
  padding: 6px 30px !important;
}

.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: none !important;
}

.Toastify__toast {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 236px;
  width: auto !important;
  padding: 0 20px !important;
  min-height: 45px !important;
  height: auto;
  /* margin-bottom: 0px !important; */
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast-icon {
  margin-inline-end: 0 !important;
  width: 6px !important;
  height: 6px;
}

/* quill editor */
.ql-picker.ql-size .ql-picker-item[data-value="11px"]::before {
  content: "11px";
}

.ql-picker.ql-size .ql-picker-item[data-value="13px"]::before {
  content: "13px";
}

.ql-picker.ql-size .ql-picker-item[data-value="15px"]::before {
  content: "15px";
}

.ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: "16px";
}

.ql-picker.ql-size .ql-picker-item[data-value="19px"]::before {
  content: "19px";
}

.ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: "24px";
}

.ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
  content: "28px";
}

.ql-picker.ql-size .ql-picker-item[data-value="30px"]::before {
  content: "30px";
}

.ql-picker.ql-size .ql-picker-item[data-value="34px"]::before {
  content: "34px";
}

.ql-picker.ql-size .ql-picker-item[data-value="38px"]::before {
  content: "38px";
}

.ql-picker.ql-size .ql-picker-label[data-value="11px"]::before {
  content: "11px";
}

.ql-picker.ql-size .ql-picker-label[data-value="13px"]::before {
  content: "13px";
}

.ql-picker.ql-size .ql-picker-label[data-value="15px"]::before {
  content: "15px";
}

.ql-picker.ql-size .ql-picker-label[data-value="16px"]::before {
  content: "16px";
}

.ql-picker.ql-size .ql-picker-label[data-value="19px"]::before {
  content: "19px";
}

.ql-picker.ql-size .ql-picker-label[data-value="24px"]::before {
  content: "24px";
}

.ql-picker.ql-size .ql-picker-label[data-value="28px"]::before {
  content: "28px";
}

.ql-picker.ql-size .ql-picker-label[data-value="30px"]::before {
  content: "30px";
}

.ql-picker.ql-size .ql-picker-label[data-value="34px"]::before {
  content: "34px";
}

.ql-picker.ql-size .ql-picker-label[data-value="38px"]::before {
  content: "38px";
}

.ql-tooltip.ql-editing {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 0px !important;
  width: fit-content !important;
}
