/* ===== reset css ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }
}
